* {
  box-sizing: border-box;
}

:root {
  --bg: #1f1f1f;
  --text: #f1f1f1;
  --accent: aquamarine;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 15vh 0;
}

section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

#stats {
  flex-grow: 1;
}

#stats>span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(var(--accent) calc(var(--progress) * 3.6deg), var(--text) 0deg);
  font-size: 0;
}

.progress::after {
  content: attr(data-progress) '%';
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  padding-top: 3px;
  border-radius: 50%;
  background: var(--bg);
  font-size: 1rem;
  text-align: center;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: max-content;
}

#info>div {
  font-size: larger;
  font-weight: bold;
  color: var(--accent);
  margin: 0.2rem;
}

#info>div>span {
  font-weight: normal;
  color: var(--text);
}